node_modules
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# Selenium driver folders
selenium_standalone_zips
driver_zips
driver

bower_components
node
/frontend
*/flow-*/frontend
package-lock.json
**/webpack.generated.js

flow-tests/**/package.json
flow-tests/**/webpack*.js
flow-tests/**/tsconfig.json
flow-tests/**/pnpm-lock.yaml
flow-tests/**/index.html
yarn.lock

flow-client/src/main/frontend/FlowClient.js
flow-tests/**/types.d.ts
flow-tests/**/*.generated.js
flow-tests/**/*.generated.ts
flow-tests/**/generated/**
flow-tests/**/pnpmfile.js
flow-tests/**/.pnpmfile.cjs
flow-tests/**/*.npmrc

*.xml.versionsBackup

# build result folders
*/result
result
all/target/
push/target/
shared/target/
server/target/
client/target/
client-compiler/target/
client-compiled/target/
liferay/target/
themes/target/
uitest/target/

.sass-cache
phantomjsdriver.log

*/.checkstyle

# TB default error screenshot folder
error-screenshots/
/package.json
/tsconfig.json
/types.d.ts
/webpack.config.js
/.mvn/
